body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-container
{
    display: flex;
    justify-content: center;
}

.btn 
{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: .75rem;
}

.red
{
    background-color: #d95980;
}

.green
{
    background-color: #63aa30;
}

.yellow
{
    background-color: #f99b45;
}

.purple
{
    background-color: #819ff9;
}

.gameFlash
{
    background-color: white;
}

.userFlash
{
    background-color: green;
}

.gameOver
{
    background-color: red;
}